@forward "./fonts";
#root {
  background-color: rgb(35, 34, 34);
  height: 100vh;
  position: relative;
  .imageContainer {
    display: flex;
    flex: 1;
    color: #ffffff;
    img {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
    }
  }
  .sidebarContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.5s ease;
    z-index: 99;
    opacity: 1;

    &.hidden {
      transition: opacity 0.5s ease, z-index 0s ease 0.5s;
      opacity: 0;
      z-index: 0;
    }

    .sidebarOverflow {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0.5;
      transition: opacity 0.5s ease;
    }

    .sidebarContentsContainer {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 800px;
      background-color: #242424;
      transition: all 0.5s ease;
      overflow: hidden;

      @media screen and (max-width: 1200px) {
        width: 600px;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
      }

      &.hidden {
        right: -800px;
      }

      .sidebarContents {
        padding: 2% 4%;
        height: 100%;
        color: #e1dcdc;
        font-family: "Roboto";

        .head {
          height: 20%;

          .title {
            font-size: 2rem;

            @media screen and (max-width: 600px) {
              font-size: 1.5em;
            }
            margin-bottom: 5%;
          }

          .date {
            font-size: 1.5rem;

            @media screen and (max-width: 600px) {
              font-size: 1em;
            }
            margin-bottom: 5%;
          }
        }

        .main {
          height: 80%;

          .description {
            font-size: 1.2rem;

            @media screen and (max-width: 600px) {
              font-size: 1em;
            }
            height: 80%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
              display: none;
            }

            -ms-overflow-style: none;
            scrollbar-width: none;
          }

          .iconContainer {
            position: fixed;
            bottom: 5%;
            left: 5%;

            .backIcon {
              font-size: 2rem;

              @media screen and (max-width: 600px) {
                font-size: 1.5em;
              }
            }
          }
        }
      }
    }
  }

  .footerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 5%;
    margin-bottom: 7%;
    width: 90%;

    font-family: "Roboto";
    color: #e1dcdc;
    flex-wrap: wrap;
    .title {
      font-size: 2rem;
      font-weight: 400;

      margin-bottom: 20px;
    }
    .subtitle {
      font-size: 3rem;
      @media screen and (max-width: 600px) {
        font-size: 2.5rem;
      }
      font-weight: 600;

      margin-bottom: 40px;
    }
    .date {
      font-size: 1.5rem;
    }
    .iconContainer {
      display: flex;
      justify-content: flex-end;
      svg {
        max-width: 30px;
        fill: #ffffff;
      }
    }
  }
}
